h1 {
  font-family: "DIN Medium", "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h3 {
  font-family: "DIN Medium", "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

p {
  font-family: "DIN Medium", "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
}
